<ion-header>
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title id="headerfooter">Scanner</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<ion-card>
  <br>
  <ion-card-header>

    <ion-card-subtitle>Para registrar tu asistencia escanea el código QR proyectado en la pizarra por tu docente</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-button (click)="scan()">Escanear codigo QR</ion-button>
    {{code}}
    
  </ion-card-content>

</ion-card>

  <ion-img id="qr" src="assets/QR_scan.png"></ion-img>

  <ion-img class="logo" src="assets/logo registrapp.png"></ion-img>
 

</ion-content>

<ion-footer>
  <ion-toolbar color="micolor">
    <ion-title id="headerfooter">Needham - Vásquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>