ion-content {
    --background: url("../../../assets/fondo.jpeg");
}

ion-toolbar{
    background-color: var(--ion-color-micolor);
}

#usuario{
    text-align: center;
    color:chocolate;

    left: 20px;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
}


#headerfooter{
    text-align: center;
    color:rgb(240, 182, 34);
    font-size: 13px;
   
}    

.btn {

    border-radius: 10px; 	
    font-size: 12px;	
}


.placeholders {
    font-size: 12px;
    text-align: center;	 

}




.logo{
    
    width: 100%;
    transform: translatey(0%); 
   
    
}

.icono{
    
    float:left;
    margin-left: 10%;
    width: 35%;
    padding-bottom: 0%; 
    padding-top: 50%;
    
}
    