<ion-header>
  <ion-toolbar color="micolor">
  
    <ion-title id="headerfooter">Opciones de Ingreso</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

<ion-img class="icono" routerLink="/login" src="assets/icon/students.png"></ion-img>
<ion-img class="icono" routerLink="/logindocentes" src="assets/icon/teacher.png"></ion-img>

</ion-content>

<ion-img class="logo" src="assets/logo_bienvenido_registrapp.png"></ion-img>





<ion-footer>
  <ion-toolbar color="micolor">
    <ion-title id="headerfooter">Needham - Vásquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>



<!--
<ion-content class="ion-padding">
  <button ion-button (click)="irAlInicio()">Ir a inicio</button> 
 </ion-content> -->
