<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title id="headerfooter">ALUMNOS</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
<br>
<ion-list *ngIf="listaAlumnos" color="">
  <ion-item *ngFor='let alumn of listaAlumnos'>
    <ion-label>
      <h1>{{ alumn.nombre_usuario }}</h1>

      <h2>{{ alumn.usuario }}</h2>

      <h3>{{ alumn.seccion }}</h3>

    </ion-label>
    <ion-icon name="arrow-forward" (click)="goToDetalles(alumn)"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
