<ion-header>
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/iniciodocentes"></ion-back-button>
    </ion-buttons>
    
    <ion-title id="headerfooter">Alumnos</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>
<br>
<ion-list *ngIf="listaAlumnos">
  <ion-item *ngFor='let alumn of listaAlumnos'>
    <ion-avatar slot="start">
      <img [src]='alumn.foto'>
  </ion-avatar>
    <ion-label>
      <div class="titulo">{{ alumn.nombre_usuario }}</div>

      <div class="subtitulo">{{ alumn.usuario }}</div>

      <div class="subtitulo">{{ alumn.seccion }}</div>


    </ion-label>
    <ion-icon name="arrow-forward" (click)="goToDetalles(alumn)"></ion-icon>
  </ion-item>
</ion-list>



<ion-img class="logo" src="assets/logo registrapp.png"></ion-img>
</ion-content>

<ion-footer>
  <ion-toolbar color="micolor">
    <ion-title id="headerfooter">Needham - Vásquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>
