<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title id="headerfooter">Detalle del Alumno</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>NOMBRE: {{ alumn.nombre_usuario }}</ion-card-title>
      <br>
      <ion-card-subtitle>USUARIO: {{ alumn.usuario }}</ion-card-subtitle>
      <ion-card-subtitle>SECCION: {{ alumn.seccion }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
      Alumno(a) Matriculado en DUOC UC
   
    </ion-card-content>
  </ion-card>
</ion-content>
