ion-content {
    --background: url("../../../assets/fondo.jpeg");
}

#usuario{
    text-align: center;
    color:chocolate;

    left: 20px;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
}


#headerfooter{
    text-align: center;
    position: absolute;
    left: 95px;
    color:rgb(240, 182, 34);
    font-size: 14px;	
   
}    

.btn {

    border-radius: 10px; 	
    font-size: 12px;	
}

.margencito{
    margin-top: 10%;
}

.placeholders {
    font-size: 12px;	 

}


.logo{
    
    width: 100%;
    padding-top: 7%;
    
}

    