
#usuario{
    text-align: center;
    color:chocolate;

    left: 20px;
    right: 20px;
    top: 50%;
    transform: translatey(-50%);
}


#headerfooter{
    text-align: center;
    color:goldenrod;
    font-size: 13px;	
   
}    

.btn {

    border-radius: 10px; 	
    font-size: 12px;	
}

.margencito{
    margin-top: 10%;
}



.logo{
    
    width: 100%;
    padding-top: 10%;
    
}

    