<ion-header>
  <ion-toolbar color="micolor">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title id="headerfooter">Inicio de sesión Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle class="placeholders">Ingreso de Datos</ion-card-subtitle>
  </ion-card-header>
 
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        
        <ion-label for="nombre" class="placeholders" position="stacked">NOMBRE:</ion-label>
        <ion-input formControlName="nombre" 
                    type="text" 
                    class="placeholders" 
                    [(ngModel)]="usuario.nombre"
                    placeholder="Ingrese nombre del alumno"> </ion-input>

      </ion-item>
      
      <ion-item>
        <ion-label for="password" class="placeholders" position="stacked">CONTRASEÑA:</ion-label>
        <ion-input formControlName="password" 
                    type="password" 
                    class="placeholders"
                    [(ngModel)]="usuario.password" 
                    placeholder="Ingrese contraseña"> </ion-input>
      </ion-item>
      
    <ion-button class="btn" type="submit" (click)="loginUsuario()">INICIAR SESIÓN ALUMNOS</ion-button>
  </form>

  </ion-card-content>

</ion-card>

  <br>

<ion-button class="btn" routerLink="/recuperar">OLVIDÉ MI CONTRASEÑA</ion-button>

<ion-button class="btn" routerLink="/registrarse">REGISTRARSE / CUENTA NUEVA</ion-button>



  <ion-img class="logo" src="assets/logo registrapp.png"></ion-img>
 

</ion-content>

<ion-footer>
  <ion-toolbar color="micolor">
    <ion-title id="headerfooter">Needham - Vásquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>



<!--
<ion-content class="ion-padding">
  <button ion-button (click)="irAlInicio()">Ir a inicio</button> 
 </ion-content> -->