<ion-header>
  <ion-toolbar color="primary">
    <ion-title id="headerfooter">Inicio de sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Ingreso de Datos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="formularioLogin">
      <ion-item>
        <ion-label position="stacked">USUARIO:</ion-label>
        <ion-input formControlName="usuario" type="text" class="placeholders" placeholder="Ingrese usuario"> </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="stacked">CONTRASENA:</ion-label>
        <ion-input formControlName="password" type="password" class="placeholders" placeholder="Ingrese contrasena"> </ion-input>
      </ion-item>

    <ion-button class="btn" expand="block" (click)="irAlInicio()">INICIAR SESION</ion-button>
  </form>
  </ion-card-content>

</ion-card>

<div>
  <br>
<ion-button expand="block" class="btn" (click)="irArecuperar()">OLVIDE MI CONTRASENA</ion-button>
</div>

  <ion-img class="logo" src="assets/logo registrapp.png"></ion-img>
 

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title id="headerfooter">Needham - Vasquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>



<!--
<ion-content class="ion-padding">
  <button ion-button (click)="irAlInicio()">Ir a inicio</button> 
 </ion-content> -->