<ion-header>
  
  <ion-toolbar color="primary">
    <ion-title id="headerfooter">Recuperar contrasena</ion-title>

  </ion-toolbar>
</ion-header>


<!--
<ion-card-content>

<ion-card>
  <ion-card-header>
    <ion-card-title>Ingreso de Datos</ion-card-title>
  </ion-card-header>


    <form [formGroup]="formularioRecuperar">
      <ion-item>
        <ion-label position="stacked">CORREO</ion-label>
        <ion-input formControlName="correo" placeholder="Ingrese su correo"> </ion-input>
      </ion-item>

      <ion-button  class="btn" expand="block" >RECUPERAR MI CONTRASENA</ion-button>



    </form>


</ion-card>


<div>




  <ion-img class="logo" src="assets/logo registrapp.png"></ion-img>
 

</div>

</ion-card-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title id="headerfooter">Needham - Vasquez IT</ion-title>
  </ion-toolbar> 
</ion-footer>

-->

<!--
<ion-content class="ion-padding">
  <button ion-button (click)="irAlInicio()">Ir a inicio</button> 
 </ion-content> -->